## Project - Build a Basic ML Model for Text Classification
### Objective - Detect hate speech in people's tweets
##### Build a machine learning model to classify whether a particular tweet is *hate speech* or not

## Steps
* Read the dataset
* Text Cleaning
* Feature Engineering
* Train an ML model for text classification
* Evaluate the ML model
* Conclusion

### Read the dataset

In [2]:
import pandas as pd

dataset = pd.read_csv("resources/final_dataset_basicmlmodel.csv")
dataset

         id  label                                              tweet
0         1      0   @user when a father is dysfunctional and is s...
1         2      0  @user @user thanks for #lyft credit i can't us...
2         3      0                                bihday your majesty
3         4      0  #model   i love u take with u all the time in ...
4         5      0             factsguide: society now    #motivation
...     ...    ...                                                ...
5237  31935      1  lady banned from kentucky mall. @user  #jcpenn...
5238  31947      1  @user omfg i'm offended! i'm a  mailbox and i'...
5239  31948      1  @user @user you don't have the balls to hashta...
5240  31949      1   makes you ask yourself, who am i? then am i a...
5241  31961      1  @user #sikh #temple vandalised in in #calgary,...

[5242 rows x 3 columns]

#### Description
   
   - **label** : target variable/value that has to be predicted
    
   - **tweet** : text of the tweet, which is the main data

In [3]:
for index, tweet in enumerate(dataset["tweet"][10:15]):
    print(index+1, ".", tweet)

1 .  â #ireland consumer price index (mom) climbed from previous 0.2% to 0.5% in may   #blog #silver #gold #forex
2 . we are so selfish. #orlando #standwithorlando #pulseshooting #orlandoshooting #biggerproblems #selfish #heabreaking   #values #love #
3 . i get to see my daddy today!!   #80days #gettingfed
4 . ouch...junior is angryð#got7 #junior #yugyoem   #omg
5 . i am thankful for having a paner. #thankful #positive

#### Description
- Noise in the tweet text
- Many hashtags present, which need to be removed
- Strange symbols, which need to be removed